button{
    background-color: rgb(5, 5, 5);
    }
    h1{
      padding: 9px;
     font: size 25px;
     font-family:input;
     color: rgb(0, 0, 0);
    }
    body{
    
     background-color: rgb(138, 247, 255);
    }
    h1{
     
      font-size:large;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
       text-align:center;
      
    }
    body{
        background-color: rgb(0, 111, 131);
        color:rgb(0, 0, 0);
        font-size: 10px;
    }
    label{
     font-size: 15px;
     
    }
    form{
        text-align: center;
        background-color: rgb(138, 247, 255);
        width: 500px;
        margin-left: auto;
       margin-right: auto;
    
    }
    